.tabsComponent{
  background-color: var(--tabs-bg-color);
  padding: 0.5rem;
  width: 100%;
  display:flex;
  gap:0.5rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0rem;
}
.tab{
  font-size: var(--l);
  color:var(--secondary-color);
  font-weight:400;
  border:1px solid #000;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.activeTab{
    background-color: var(--secondary-color);
    color:var(--tabs-bg-color)
}

.typesComponent{
  width: 100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.type{
  font-size: var(--l);
  color:var(--secondary-color);
  font-weight:400;
  border:2px solid var(--tabs-bg-color);
  padding: 0.5rem 0.8rem;
  background-color: #999;
  cursor: pointer;
  max-width:150px;
  overflow:hidden;
  text-overflow: ellipsis;
  direction: ltr;
  text-wrap-mode: nowrap;
}
.typesComponent .type:nth-child(even){
  border-width:2px 0px;
}
.activeType{
    background-color: var(--tabs-bg-color);
    border:2px solid #000;
    border-width: 2px !important;
}