.innerModal{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    height: 100%;
}
.editForm{
    width: 50%;
    max-width:min(400px,50%);
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  height:100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding:20px;
  position:relative;
  margin-bottom: 3rem;
}
.title{
    font-size:var(--xxl);
    font-weight:semibold;
    margin-bottom: 1rem;
}
.closeBtn{
    position:absolute;
    top:1rem;
    right:1rem;
    cursor: pointer;
}
.details{
    margin-bottom: 2rem;
}
.card{
    display:flex;
    gap:0.5rem;
    width:100%;
    flex-direction: column;
}
.detailsLabel{
    font-size: var(--xl);
    font-weight: 500;
}
.card .inputField{
    padding: 0.5rem;
    border-radius: 6px;
    font-size: var(--l);
}
.editForm .submitBtn{
    margin:auto !important;
    width: 100% !important;
}
