.main-component{
  width:1000vw;
  max-width: min(1400px,100%);

}
.h1,h2,h3,h4,h5,h6,p,div{
  margin: 0;
  padding: 0;
}

.header{
  width: 100vw;
  padding: 1rem;
  background-color: blanchedalmond;
  color:blue;
  font-size: var(--xxxl);
  text-align: center;
}
