body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --sm:12px;
  --m:14px;
  --l:16px;
  --xl:20px;
  --xxl:24px;
  --xxxl:32px;

  --primary-color:rgba(42, 93, 248, 0.745);
  --secondary-color:#fff;
}
